{
    "openapi": "3.0.0",
    "info": {
        "title": "Layanan Pajak API",
        "description": "REST API untuk data realisasi pajak daerah Kabupaten Pasuruan. Semua endpoint memerlukan Bearer Token pada header Authorization.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://upp.pendapatan.pasuruankab.go.id/api",
            "description": "Production Server"
        },
        {
            "url": "http://localhost:8000/api",
            "description": "Local Development"
        }
    ],
    "paths": {
        "/v1/payment-check/hotel": {
            "post": {
                "tags": [
                    "Cek Pembayaran"
                ],
                "summary": "Cek pembayaran PBJT Hotel",
                "operationId": "2249fac82b64f17948d7f7e7a3ee9195",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PaymentCheckBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentCheckResult"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "/v1/payment-check/restoran": {
            "post": {
                "tags": [
                    "Cek Pembayaran"
                ],
                "summary": "Cek pembayaran PBJT Restoran",
                "operationId": "a737539bfae992fc00038732ad33cdb6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PaymentCheckBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentCheckResult"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "/v1/payment-check/hiburan": {
            "post": {
                "tags": [
                    "Cek Pembayaran"
                ],
                "summary": "Cek pembayaran PBJT Hiburan",
                "operationId": "d8b08bea93f8e3dcf94508cc6c2b22da",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PaymentCheckBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentCheckResult"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "/v1/payment-check/reklame": {
            "post": {
                "tags": [
                    "Cek Pembayaran"
                ],
                "summary": "Cek pembayaran Pajak Reklame",
                "operationId": "6fe6077b0884bdc4f849dc18cd4c33a0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PaymentCheckBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentCheckResult"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "/v1/payment-check/ppj": {
            "post": {
                "tags": [
                    "Cek Pembayaran"
                ],
                "summary": "Cek pembayaran Pajak Penerangan Jalan (PPJ)",
                "operationId": "ed1851ae5fe30148d8d225aeeee84ffb",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PaymentCheckBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentCheckResult"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "/v1/payment-check/parkir": {
            "post": {
                "tags": [
                    "Cek Pembayaran"
                ],
                "summary": "Cek pembayaran PBJT Parkir",
                "operationId": "9cc7e1d5ca591ce6ffd22cc2d84cd990",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PaymentCheckBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentCheckResult"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "/v1/payment-check/at": {
            "post": {
                "tags": [
                    "Cek Pembayaran"
                ],
                "summary": "Cek pembayaran Pajak Air Tanah (AT)",
                "operationId": "8c3a7894ba70827cf3dd82a4d0f29fb6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PaymentCheckBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentCheckResult"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "/v1/payment-check/minerba": {
            "post": {
                "tags": [
                    "Cek Pembayaran"
                ],
                "summary": "Cek pembayaran Pajak Mineral Bukan Logam (MINERBA)",
                "operationId": "cd90103e123cc09e0c55bbddda0e13a5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PaymentCheckBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentCheckResult"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "/v1/payment-check/bphtb": {
            "post": {
                "tags": [
                    "Cek Pembayaran"
                ],
                "summary": "Cek pembayaran BPHTB",
                "description": "Untuk BPHTB, field `npwpd` diisi dengan Nomor Register (kohir).",
                "operationId": "007a7c83b40685acc2b8cf206c406d0e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PaymentCheckBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentCheckResult"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "/v1/tax-summary": {
            "get": {
                "tags": [
                    "Ringkasan Pajak"
                ],
                "summary": "Total target dan realisasi pajak",
                "description": "Mengembalikan total target, realisasi, lebih/(kurang), dan persentase capaian. Jika parameter year tidak diisi, mengembalikan semua tahun yang tersedia.",
                "operationId": "2d049ddd884387fa4e78a80418b6be9e",
                "parameters": [
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Tahun anggaran (contoh: 2026). Kosongkan untuk semua tahun.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 2026
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil — tahun spesifik",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "year": {
                                            "type": "integer",
                                            "example": 2026
                                        },
                                        "total_target": {
                                            "type": "number",
                                            "example": 653283255374
                                        },
                                        "total_realization": {
                                            "type": "number",
                                            "example": 198105196856
                                        },
                                        "more_less": {
                                            "type": "number",
                                            "example": -455178058518
                                        },
                                        "percentage": {
                                            "type": "number",
                                            "example": 30.32
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized — token tidak valid"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "/v1/tax-types": {
            "get": {
                "tags": [
                    "Jenis Pajak"
                ],
                "summary": "Daftar semua jenis pajak",
                "description": "Mengembalikan daftar semua jenis pajak yang tersedia di dashboard, termasuk grup PBJT dan anggotanya.",
                "operationId": "49eefa81a986936b2a8669d118c01125",
                "responses": {
                    "200": {
                        "description": "Berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "no_ayat": {
                                                "description": "Kode ayat pajak",
                                                "type": "string",
                                                "example": "41101"
                                            },
                                            "nama": {
                                                "description": "Nama jenis pajak",
                                                "type": "string",
                                                "example": "PBJT-HOTEL"
                                            },
                                            "is_group": {
                                                "description": "true jika ini grup induk (Pajak PBJT)",
                                                "type": "boolean",
                                                "example": false
                                            },
                                            "in_pbjt_group": {
                                                "description": "true jika termasuk dalam grup PBJT",
                                                "type": "boolean",
                                                "example": true
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized — token tidak valid"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "/v1/tax-realization": {
            "get": {
                "tags": [
                    "Realisasi per Jenis Pajak"
                ],
                "summary": "Realisasi pajak per jenis pajak",
                "description": "Mengembalikan detail target, realisasi, lebih/(kurang), dan persentase capaian untuk setiap jenis pajak. Data konsisten dengan tabel di dashboard admin.",
                "operationId": "8425621f6b55b2910a9802208e08b1d8",
                "parameters": [
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Tahun anggaran (default: tahun berjalan)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 2026
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "year": {
                                            "type": "integer",
                                            "example": 2026
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "no_ayat": {
                                                        "type": "string",
                                                        "example": "41100"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "Pajak (PBJT)"
                                                    },
                                                    "is_group": {
                                                        "description": "true jika baris grup induk",
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "in_pbjt_group": {
                                                        "description": "true jika anggota grup PBJT",
                                                        "type": "boolean",
                                                        "example": false
                                                    },
                                                    "target": {
                                                        "type": "number",
                                                        "example": 239976870832
                                                    },
                                                    "realisasi": {
                                                        "type": "number",
                                                        "example": 81420725151
                                                    },
                                                    "more_less": {
                                                        "type": "number",
                                                        "example": -158556145681
                                                    },
                                                    "percentage": {
                                                        "type": "number",
                                                        "example": 33.93
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized — token tidak valid"
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "PaymentCheckItem": {
                "properties": {
                    "nop": {
                        "type": "string"
                    },
                    "nama_op": {
                        "type": "string"
                    },
                    "kohir": {
                        "type": "string"
                    },
                    "masa_awal": {
                        "type": "string"
                    },
                    "jatuh_tempo": {
                        "type": "string",
                        "nullable": true
                    },
                    "tgl_bayar": {
                        "type": "string",
                        "nullable": true
                    },
                    "jml_sptpd": {
                        "type": "integer"
                    },
                    "bayar_pokok": {
                        "type": "integer"
                    },
                    "bayar_denda": {
                        "type": "integer"
                    },
                    "sisa_pokok": {
                        "type": "integer"
                    },
                    "sisa_denda": {
                        "type": "integer"
                    },
                    "sisa": {
                        "type": "integer"
                    },
                    "keterangan": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "PaymentCheckResult": {
                "properties": {
                    "npwpd": {
                        "type": "string",
                        "example": "1234567890123"
                    },
                    "nama_op": {
                        "type": "string",
                        "example": "HOTEL SEJAHTERA"
                    },
                    "jenis_pajak": {
                        "type": "string",
                        "example": "hotel"
                    },
                    "tahun": {
                        "type": "string",
                        "example": "2025"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PaymentCheckItem"
                        }
                    },
                    "summary": {
                        "properties": {
                            "total_sptpd": {
                                "type": "integer"
                            },
                            "total_denda": {
                                "type": "integer"
                            },
                            "total_bayar_pokok": {
                                "type": "integer"
                            },
                            "total_bayar_denda": {
                                "type": "integer"
                            },
                            "total_sisa": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "PaymentCheckBody": {
                "required": [
                    "npwpd",
                    "tahun"
                ],
                "properties": {
                    "npwpd": {
                        "description": "Nomor Pokok Wajib Pajak Daerah",
                        "type": "string",
                        "example": "1234567890123"
                    },
                    "tahun": {
                        "description": "Tahun pajak",
                        "type": "integer",
                        "example": 2025
                    },
                    "npwpd_lama": {
                        "description": "true jika menggunakan NPWPD lama",
                        "type": "boolean",
                        "example": false
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "BearerToken": {
                "type": "http",
                "description": "Masukkan token API.",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Ringkasan Pajak",
            "description": "Total target dan realisasi pajak per tahun"
        },
        {
            "name": "Jenis Pajak",
            "description": "Daftar jenis pajak yang tersedia"
        },
        {
            "name": "Realisasi per Jenis Pajak",
            "description": "Detail realisasi pajak dipecah per jenis pajak"
        },
        {
            "name": "Cek Pembayaran",
            "description": "Cek status pembayaran pajak daerah per NPWPD"
        }
    ]
}